[user]
	name = drake01
	email = drakeoone@gmail.com
[color]
	ui = auto
[alias]
	st = status
	ci = commit
	co = checkout
	up = pull

	change = codereview change
	gofmt = codereview gofmt
	mail = codereview mail
	pending = codereview pending
	submit = codereview submit
	sync = codereview sync

[core]
	autocrlf = false
	filemode = false
	editor = vim
