[user]
	name = Gulshan
	email = drakeoone@gmail.com
[color]
	ui = auto
[alias]
	# st = status -uno
	st = status
	ci = commit
	co = checkout
	up = pull
	pu = pull

	change = codereview change
	gofmt = codereview gofmt
	mail = codereview mail
	pending = codereview pending
	submit = codereview submit
	sync = codereview sync
    lg     = log --graph --pretty=format:'%Cblue%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative


[core]
	autocrlf = false
	filemode = false
	editor = vim
